*.ruby-*
*.so
*.o
CMakeCache.txt
/vendor/radixtree/CMakeFiles
/vendor/radixtree/CMakeFiles/**/*
/vendor/radixtree/Makefile
cmake_install.cmake
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
